/* Centrar todo el contenido en el cuerpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #fec0d6;
}

/* Contenedor del juego */
#game-section {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Asegurar que la imagen de la pregunta se ajuste bien */
#imagen-pregunta {
    margin: 20px 0;
    text-align: center;
}

#imagen {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Centrar los botones */
button {
    display: inline-block;
    background-color: #ff8db3;  /* Color rosado */
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff81b1;
}

/* Estilo del mensaje de puntaje y resultado */
#puntaje {
    font-size: 18px;
    font-weight: bold;
}

#mensaje {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

/* Enlace al inicio */
a {
    display: block;
    margin-top: 20px;
    color: #ed729f;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
